

#now .character-equipment .list.inventory-items {
  grid-template-columns: repeat(auto-fill, 64px);
  position: relative;
  z-index: 2;
}

#now .character-equipment .stats {
  display: grid;
  gap: 3px;
}

#now .character-equipment .stats .stat {
  display: grid;
  grid-template-columns: 20px auto;
  gap: 10px;
  align-items: center;
}

#now .character-equipment .stats .stat [class^="destiny-"] {
  font-size: 14px;
  display: grid;
  align-items: center;
  justify-content: center;
}

#now .character-equipment .stats .stat .progress-bar .bar .fill {
  /* background-color: rgba(228, 228, 228, 0.2); */
}

@media screen and (max-width: 1279px) {
  #now .character-equipment .list.inventory-items {
    grid-template-columns: repeat(auto-fill, 48px);
  }
}

@media screen and (max-width: 600px) {

  #now .character-equipment .list.inventory-items {
    grid-template-columns: repeat(6, 1fr);
  }
}