#compare {
  padding: 0;
  display: grid;
  margin: -40px auto 0;
  width: 100%;
}

#compare > .module.head {
  padding: calc(4rem + 40px) 3rem 3rem;
  background-color: rgba(255, 255, 255, 0.05);
}

#compare > .module.head .page-header {
  margin-bottom: 0rem;
}

#compare > .padder {
  width: 100%;
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3rem;
  row-gap: 3rem;
}

#compare.nightfalls .padder,
#compare.nightmare-hunts .padder {
  grid-template-columns: 1fr;
}

#compare .module .text {
  max-width: 500px;  
  font-size: 16px;
}

#compare .module .text ~ .button {
  margin: 1rem 0 0;
}

#compare .data {
  display: grid;
  grid-template-columns: minmax(200px, 1.38fr) repeat(5, 1fr);
  column-gap: 2rem;
}

#compare .cols-5 .data {
  grid-template-columns: minmax(200px, 1.38fr) repeat(5, 1fr);
}

#compare .cols-4 .data {
  grid-template-columns: minmax(200px, 1.38fr) repeat(4, 1fr);
}

#compare .cols-3 .data {
  grid-template-columns: minmax(200px, 1.38fr) repeat(3, 1fr);
}

#compare .cols-2 .data {
  grid-template-columns: minmax(200px, 1.38fr) repeat(2, 1fr);
}

#compare .cols-1 .data {
  grid-template-columns: 40% auto;
}

#compare .data .row {
  font-size: 16px;
}

#compare .data .row::after {
  content: ' ';
  position: absolute;
  left: 0;
  top: unset;
  bottom: -2px;
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: opacity 0.25s;
  transform: none;
}

#compare .data .row:last-child::after {
  content: none;
}

#compare .data .column.activities .row .text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#compare .data .column.player {
  position: relative;
}

#compare .data .column.player .spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}

#compare .data .column.player .row {
  font-size: 14px;
}

#compare .data .column.player.loading .row::after {
  opacity: 0;
}

#compare .data .column.player .row.na {
  color: rgba(255, 255, 255, 0.4);
}

#compare .data .list.member {
  margin: 0 0 2rem;
  display: grid;
  grid-template-columns: auto 38px;
  column-gap: 3px;
}

#compare .data .list.member li {
  margin: 0;
}

#compare .data .list.member .remove {
  position: relative;
  padding: 0;
  display: grid;
  justify-content: center;
}

#compare .data .list.sums {
  margin: 1rem 0 0;
}

#compare .data .list.sums .row {
  height: unset;
  min-height: 38px;
}

#compare .data .list.sums .row .text .description {
  font-size: 14px;
  margin: 4px 0 0;
  color: rgba(255, 255, 255, 0.5);
}

#compare .data .column.add-player .profile-search {
  margin: 3rem 0 0;
}


@media screen and (max-width: 1024px) {
  #compare > .padder {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  #compare > .module.head {
    padding: calc(3rem + 40px) 2rem 2rem;
  }

  #compare > .padder {
    padding: 2rem;
    grid-template-columns: 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
  }

  #compare .module .text {
    font-size: 14px;
  }

}