#now.settings .groups {
  
}

#now.settings .group.user {
  align-items: start;
  row-gap: 2rem;
}

#now.settings .group.user:not(.head) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#now.settings .group.user.full {
  grid-template-columns: 1fr;
}

#now.settings .group.user .column.double {
  grid-column: span 2;
}

#now.settings .group.user .column {
}

#now.settings .group.user .column .column-inner {
  margin: 0 0 1rem;
  min-height: 38px;
  background-color: rgba(255, 255, 255, 0.05);
}

#now.settings .group.user .module {
  display: grid;
  gap: 1rem;
  max-width: unset;
  height: unset;
  min-height: 38px;
  padding: 1rem;
}

#now.settings .group.user .module:last-child {
  margin: 0;
}

#now.settings .group.user .module .text {
  padding: 0;
}

#now.settings .group.user .module .text .description {
  font-size: 14px;
  margin: 6px 0 0;
  color: rgba(255, 255, 255, 0.6);
}

#now.settings .group.user .module.disabled .text .description {
  color: rgba(255, 255, 255, 0.2);
}

#now.settings .module .button.remove {
  position: relative;
  z-index: 5;
  width: 38px;
  justify-content: center;
}

#now.settings .button.remove:hover {
  background-color: rgb(220, 81, 59);
}

#now.settings .modules-selector {
  position: relative;
}

/* #now.settings .modules-selector .list {
  position: absolute;
} */


@media screen and (max-width: 1440px) {
  
}

@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 600px) {
  #now.settings .group.user {
    row-gap: 1.5rem;
  }
}
