.list.table li {
  height: unset;
  display: grid;
  font-size: 14px;
}

.list.table > li:not(.header) > ul > li {
  padding: 20px 0;
}

.list.table > li::after {
  content: ' ';
  position: absolute;
  left: 0;
  top: unset;
  bottom: -2px;
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: none;
}

.list.table > li > ul {
  display: grid;
  gap: 1rem;
  grid-template-columns: 220px minmax(200px, auto) minmax(140px, 240px) minmax(140px, 240px);
  align-items: start;
}

.list.table .header,
.list.table .header li {
  height: 38px;
  user-select: none;
}

.list.table .header ul .col {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.list.table .header ul .col:not(.no-sort):hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
}

.list.table .header ul .col.no-sort {
  cursor: not-allowed;
}

.list.table .header ul .col.sort {
  font-size: 16px;
}

.list.table .header ul .col.sort.asc .full {
  position: relative;
}

.list.table .header ul .col.sort.asc .full::after {
  content: ' ASC';
  position: relative;
  top: -6px;
  left: 4px;
  font-size: 12px;
  pointer-events: none;
}

.list.table > li > ul > li {
  margin: 0;
}

.list.table > li > ul > .bounty-item .list.inventory-items {
  width: 100%;
  grid-template-columns: 1fr;
}

.list.table > li > ul > .bounty-text .name {
  margin: 0 0 2px;
  font-size: 16px;
}

.list.table > li > ul > .bounty-text .description {
  color: rgba(255, 255, 255, 0.6);
}

.list.table > li > ul > .bounty-text .description pre {
  white-space: pre-line;
  line-height: 1.4;
}

.list.table > li > ul > .objectives .progress-bar {
  max-width: 360px;
}

.list.table > li > ul > .reward-items .list.inventory-items {
  grid-template-columns: repeat(auto-fill, 24px);
}

.list.table > li > ul > li:last-child {
  justify-content: right;
}




@media screen and (max-width: 1023px) {

  .list.table .header,
  .list.table > li > ul > .optional {
    display: none;
  }

  .list.table > li > ul {
    grid-template-columns: auto;
    padding: 20px 0;
}

.list.table > li:not(.header) > ul > li {
  padding: 0;
}

.list.table > li:last-child::after {
  content: none;
}

}