#now {
  padding: 0;
  display: grid;
  margin: 0 auto;
  width: 100%;
}

#now .group {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;  
  padding: 0 3rem;
  margin: 3rem 0 0;
}

#now .group.full {
  grid-template-columns: 1fr;
}

#now .group.head {
  padding: 4rem 3rem 3rem;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.05);
  overflow: hidden;
}

#now .group:not(.full):last-child {
  margin-bottom: 3rem;
}

#now .group.head + .group.full {
  margin: 0;
}

#now .group.head .module .text p {
  font-size: 16px;
}

#now .group.head .module .text p:last-child {
  font-size: 14px;
}

#now .column.double {
  grid-column: span 2;
}

#now .group .column {
  display: grid;
  row-gap: 2rem;
}

#now .group .module .module-header {
  margin: 24px 0 20px;
}

#now .module .sub-header + .text {
  margin: 20px 0 0;
}

#now .module .module-header {
  position: relative;
  margin: 48px 0 0;
}

#now .module .module-header .sub-name,
#now .module h3 {
  color: rgba(255, 255, 255, 0.8);
}

#now .module .module-header .sub-name {
  font-size: 18px;
}

#now .module .module-header::after {
  content: ' ';
  position: absolute;
  top: -12px;
  left: 0;
  width: 16px;
  border-bottom: 3px solid #ffffff;
  opacity: 0.2;
}

#now .module .page-header .sub-title,
#now .module .module-header .sub-title {
  margin: 0 0 3px;
  font-size: 18px;
}

#now .module .module-header .name {
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
}

#now .module .aside {
  margin: 10px 0 0;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.4);
}















@media screen and (max-width: 1440px) {
  #now .group:not(.full) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1024px) {
  #now .group:not(.full) {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  #now .group,
  #now .group:not(.full),
  #now .group.head {
    grid-template-columns: 1fr;
    gap: 2rem;    
    padding: 0 2rem;
    margin: 2rem 0 0;
  }

  #now .group.head {
    padding-top: 3rem;
    padding-bottom: 2rem;
    margin: 0;
  }

  #now .group:not(.full):last-child {
    margin-bottom: 2rem;
  }

  #now .column.double {
    grid-column: unset;
  }

  #now .module .sub-header ~ .sub-header {
    margin: 2rem 0 1rem;
  }

  #now h3 {
    margin: 0 0 1rem;
  }

  #now .module .module-header .name {
    font-size: 27px;
  }
}
