#now .group.season-pass {
  background-color: rgba(255, 255, 255, 0.05);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#now .group.season-pass:last-child {
  margin-bottom: 0;
}

#now .module .season-pass {
  display: grid;
  grid-template-columns: 1fr 30px 2fr 30px;
  grid-gap: 1rem;
}

#now .module .season-pass .status {
  position: relative;
}

#now .module .season-pass .status .text .name {
  font-size: 38px;
  line-height: 1.4;
  font-weight: 500;
}

#now .module .season-pass .status .text .description {
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.6);
  max-width: 400px;
}

#now .module .season-pass .status .season-text .name {
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 12px;
}

#now .module .season-pass .status .season-text .description {
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.5px;
}

#now .module .season-pass .status .rank {
  position: absolute;
  right: 2rem;
  bottom: 0;
  font-size: 14vw;
  line-height: 11vw;
  font-weight: 500;
  color: white;
  opacity: 0.1;
  pointer-events: none;
}

#now .module .season-pass .page .button {
  height: calc(100% - 20px - 2rem);
  margin: calc(20px + 2rem) 0 0;
}

#now .module .season-pass .page .button .text {
  padding: 0;
  width: 100%;
}

#now .module .season-pass .rewards {
  display: grid;
  grid-auto-flow: column;
}

#now .module .season-pass .rewards .rank {
  display: grid;
  grid-template-rows: calc(5px + 1rem) 2fr 2fr;
  position: relative;
  padding: 2rem 0 0;
  margin: 20px 0 0;
}

#now .module .season-pass .rewards .rank::before {
  content: attr(data-rank);
  position: absolute;
  top: 0;
  right: 0;
}

#now .module .season-pass .rewards .rank > div {
  position: relative;
  padding: 1rem;
}

#now .module .season-pass .rewards .rank .progress-bar {
  padding: 0;
  height: 4px;
}

#now .module .season-pass .rewards .rank .progress-bar .text {
  display: none;
}

#now .module .season-pass .rewards .rank .progress-bar .fill {
  background-color: rgba(255, 255, 255, 0.8);
}

#now .module .season-pass .rewards .rank .free {
  background-color: rgba(255, 255, 255, 0.2);
}

#now .module .season-pass .rewards .rank .premium {
  background-color: rgba(0, 176, 176, 0.6);
}

#now .module .season-pass .rewards .rank .list.inventory-items {
  position: relative;
  grid-template-columns: 1fr;
}

#now .module .season-pass .rewards .rank div:not(.earned):not(.claimed):not(.claimAllowed) li {
  opacity: 0.6;
}

#now .module .season-pass .rewards .rank .claimAllowed:not(.progress-bar).earned:not(.claimed)::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-size: 400%;
  animation: animation-update-flash 1.2s linear 0s infinite forwards reverse;
}


@media screen and (max-width: 1023px) {
  #now .module .season-pass {
    display: grid;
    grid-template-columns: 30px 2fr 30px;
  }

  #now .module .season-pass .status {
    grid-column: 1/4;
  }
}

@media screen and (max-width: 600px) {
  #now .group.season-pass {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  #now .module .season-pass {
    grid-gap: 10px;
  }
  
  #now .module .season-pass .status .rank {
    right: 0;
    font-size: 28vw;
    line-height: 21vw;
  }
}
