#legend .page .row.characters {
  grid-template-columns: repeat(3, 1fr);
}

#legend .page .row.characters .col {
  position: relative;
  background-color: var(--text-primary-5);
}

#legend .page .row.characters .col .class-bar {
  height: 38px;
  display: grid;
  grid-template-columns: 38px auto max-content;
  align-content: center;
  background-color: var(--class-titan-1);
  color: var(--text-primary-100);
}

#legend .page .row.characters .col .class-bar.hunter {
  background-color: var(--class-hunter-1);
}

#legend .page .row.characters .col .class-bar.warlock {
  background-color: var(--class-warlock-1);
}

#legend .page .row.characters .col .class-bar > div {
  height: 38px;
  display: grid;
  justify-content: center;
  align-content: center;
}

#legend .page .row.characters .col .class-bar .icon {
  font-size: 18px;
}

#legend .page .row.characters .col .class-bar .class,
#legend .page .row.characters .col .class-bar .light {
  font-family: var(--fontText);
}

#legend .page .row.characters .col .class-bar .class {
  justify-content: unset;
}

#legend .page .row.characters .col .class-bar .light {
  padding: 0 10px;
  font-weight: 500;
  background-color: var(--light-2);
  color: var(--light-1);
  /* padding: 0 10px 0 5rem;
  background: linear-gradient(to right, rgba(221, 196, 54, 0), #ddc436); */
}

#legend .page .row.characters .col .padder {
  padding: 12px 1rem 1rem;
}

#legend .page .row.characters .col .stats {
  margin: 0 0 1rem;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

#legend .page .row.characters .col .stats .stat {
  display: grid;
  grid-template-columns: 18px auto;
  grid-gap: 6px;
  align-items: center;
}

#legend .page .row.characters .col .stats .stat .value {
  grid-column: 2/3;
}

#legend .page .row.characters .col .stats .stat .icon {
  
}

#legend .page .row.characters .col .super {
  display: grid;
  grid-template-columns: 48px auto;
  grid-gap: 14px;
  margin: 0 0 1rem;
  min-height: 72px;
}

#legend .page .row.characters .col .super .icon {
  display: grid;
  justify-content: center;
  font-size: 38px;
}

/* Nova Warp */
#legend .page .row.characters .col .super .icon.sbp_3247948194 {
  font-size: 30px;
}

/* Daybreak */
#legend .page .row.characters .col .super .icon.sbp_1136882502 {
  font-size: 23px;
}

/* Chaos Reach */
#legend .page .row.characters .col .super .icon.sbp_3368836162 {
  font-size: 30px;
}

/* Stormtrance */
#legend .page .row.characters .col .super .icon.sbp_803974717 {
  font-size: 32px;
}

/* Burning Maul */
#legend .page .row.characters .col .super .icon.sbp_2401205106 {
  font-size: 34px;
}

/* Hammer of Sol */
#legend .page .row.characters .col .super .icon.sbp_3881209933 {
  font-size: 44px;
}

/* Banner Shield */
#legend .page .row.characters .col .super .icon.sbp_3112248479 {
  font-size: 31px;
}

/* Whirlwind Guard */
#legend .page .row.characters .col .super .icon.sbp_2236497009 {
  font-size: 34px;
}

/* Arc Staff */
#legend .page .row.characters .col .super .icon.sbp_674606208 {
  font-size: 20px;
}

/* Golden Gun */
#legend .page .row.characters .col .super .icon.sbp_3205500087 {
  font-size: 32px;
}

#legend .page .row.characters .col .super .text .name {
  margin: 0 0 4px;
}

#legend .page .row.characters .col .super .text .description {
  color: var(--text-primary-60);
  font-size: 11px;
}

#legend .page .row.characters .col .loadout ul li {
  display: grid;
  grid-template-columns: 48px auto;
  grid-gap: 14px;
  margin: 0 0 10px;
}

#legend .page .row.characters .col .loadout .icon {
  position: relative;
  width: 48px;
  height: 48px;
  margin: 3px 0 0;
}

#legend .page .row.characters .col .loadout .icon .image {
  width: 96px;
  height: 96px;
  transform: scale(0.5);
  transform-origin: left top;
  background-size: cover;
}

#legend .page .row.characters .col .loadout .icon::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 2px var(--text-primary-80);
}

#legend .page .row.characters .col .loadout .text .name {
  margin: 0 0 4px;
}

#legend .page .row.characters .col .loadout .text .description {
  color: var(--text-primary-60);
  font-size: 11px;
}

#legend .page .row.characters .col .loadout li.empty .icon {
  background-color: var(--text-primary-5);
}

#legend .page .row.characters .col .loadout li.empty .icon::before {
  content: none;
}

#legend .page .row.characters .col .loadout li.empty .name {
  margin: 3px 0 4px;
  background-color: var(--text-primary-5);
  width: 110px;
}

#legend .page .row.characters .col .loadout li.empty .description {
  margin: 8px 0 0;
  background-color: var(--text-primary-5);
  width: 200px;
}

#legend .page .row.characters .col .loadout li.empty .name::before,
#legend .page .row.characters .col .loadout li.empty .description::before {
  content: ' ';
  white-space: pre;
}