.list.modes li {
  height: unset;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.04);
}

.list.modes li:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 1);
  z-index: 2;
}

.list.modes li .icon {
  background-color: rgba(255, 255, 255, 0.04);
  height: 96px;
  width: 96px;
}

.list.modes li .icon svg .polygon.inner {
  animation: rotate-linear 20s infinite linear;
  transform-origin: center;
}

.list.modes li .icon svg .polygon.inner.ani {
  opacity: 0 !important;
}

/* iron banner icon */
.list.modes li .icon svg .falling-1,
.list.modes li .icon svg .falling-2,
.list.modes li .icon svg .falling-3 {
  transform-origin: center center;
  /* animation: rotate-linear 2s infinite linear; */
  animation: crucible-modes-falling-leaf 3s infinite cubic-bezier(0.39, 0.575, 0.565, 1);
}

.list.modes li .icon svg .falling-2 {
  animation-delay: 1s;
}

.list.modes li .icon svg .falling-3 {
  animation-delay: 1.5s;
}

.list.modes li .text {
  width: calc(100% - 96px);
  height: 96px;
  padding: 10px 1rem;
  display: grid;
  grid-template-columns: auto 72px;
}

.list.modes li .text .name {
  font-size: 16px;
}

.list.modes li .text .minor-stats {
  align-self: flex-end;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.list.modes li .text .stat {
  
}

.list.modes li .text .stat .name {
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.list.modes li .text .stat .value {
  margin: 7px 0 0;
  font-size: 18px;
  line-height: 1;
}

.list.modes li .text .kdr {
  text-align: right;
  align-self: flex-start;
  grid-column: 2/2;
  grid-row: 1/3;
}

.list.modes li .text .kdr .name {
  font-size: 16px;
}

.list.modes li .text .kdr .value {
  font-size: 32px;
  line-height: 28px;
}

.list.modes li .text .no-stats {
  grid-row: 2/3;
  grid-column: 1/3;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
  display: grid;
  justify-content: center;
}

.list.modes li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: background-color 0.25s, box-shadow 0.25s;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: inset 0 0 0 1px rgba(214, 214, 214, 0);
}

.list.modes li a.active::before {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 0 1px rgba(214, 214, 214, 1);
}

@media screen and (max-width: 600px) {

  .list.modes li .icon {
    height: 72px;
    width: 72px;
  }

  .list.modes li .text {
    width: calc(100% - 66px);
    height: 72px;
    padding: 8px 1rem;
    grid-template-columns: auto 48px;
  }

  .list.modes li .text .name {
    font-size: 14px;
  }

  .list.modes li .text .minor-stats {
    margin: 6px 0 0;
  }

  .list.modes li .text .stat .value {
    margin: 3px 0 0;
    font-size: 14px;
  }

  .list.modes li .text .stat .name {
    font-size: 12px;
  }

  .list.modes li .text .kdr .value {
    margin: 5px 0 0;
    font-size: 18px;
    line-height: 14px;
  }

}