#speed-runs {
  padding: 0;
  display: grid;
  margin: -40px auto 0;
  width: 100%;
}

#speed-runs > .module.head {
  padding: calc(4rem + 40px) 3rem 3rem;
  background-color: rgba(255, 255, 255, 0.05);
}

#speed-runs > .module.head .page-header {
  margin-bottom: 0rem;
}

#speed-runs > .padder {
  width: 100%;
  padding: 3rem;
}

#speed-runs .data {
  display: grid;
  grid-template-columns: minmax(200px, 1.38fr) repeat(5, 1fr);
  column-gap: 2rem;
}

#speed-runs .cols-5 .data {
  grid-template-columns: minmax(200px, 1.38fr) repeat(5, 1fr);
}

#speed-runs .cols-4 .data {
  grid-template-columns: minmax(200px, 1.38fr) repeat(4, 1fr);
}

#speed-runs .cols-3 .data {
  grid-template-columns: minmax(200px, 1.38fr) repeat(3, 1fr);
}

#speed-runs .cols-2 .data {
  grid-template-columns: minmax(200px, 1.38fr) repeat(2, 1fr);
}

#speed-runs .cols-1 .data {
  grid-template-columns: 40% auto;
}

#speed-runs .data .row {
  font-size: 16px;
}

#speed-runs .data .row::after {
  content: ' ';
  position: absolute;
  left: 0;
  top: unset;
  bottom: -2px;
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: opacity 0.25s;
  transform: none;
}

#speed-runs .data .row:last-child::after {
  content: none;
}

#speed-runs .data .column.nightfalls .row .text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#speed-runs .data .column.player {
  position: relative;
}

#speed-runs .data .column.player .spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}

#speed-runs .data .column.player .row {
  font-size: 14px;
}

#speed-runs .data .column.player.loading .row::after {
  opacity: 0;
}

#speed-runs .data .column.player .row.na {
  color: rgba(255, 255, 255, 0.4);
}

#speed-runs .data .list.member {
  margin: 0 0 2rem;
  display: grid;
  grid-template-columns: auto 38px;
  column-gap: 3px;
}

#speed-runs .data .list.member li {
  margin: 0;
}

#speed-runs .data .list.member .remove {
  position: relative;
  padding: 0;
  display: grid;
  justify-content: center;
}

#speed-runs .data .list.sums {
  margin: 1rem 0 0;
}

#speed-runs .data .list.sums .row {
  height: unset;
  min-height: 38px;
}

#speed-runs .data .list.sums .row .text .description {
  font-size: 14px;
  margin: 4px 0 0;
  color: rgba(255, 255, 255, 0.5);
}

#speed-runs .data .column.add-player .profile-search {
  margin: 3rem 0 0;
}


@media screen and (max-width: 600px) {
  #speed-runs > .module.head {
    padding: calc(3rem + 40px) 2rem 2rem;
  }

  #speed-runs > .padder {
    padding: 2rem;
  }

}