#clan.error {
  padding: 4rem 3rem 3rem;
  display: grid;
  grid-template-columns: 60px minmax(auto, 800px);
  justify-content: center;
}

#clan.error .properties {
  width: 100%;
  margin: 0 auto;
}

#clan.error .properties .name {
  font-size: 38px;
  font-weight: 600;
  margin: 0 0 7px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 7px;
  margin-bottom: 1rem;
}

#clan.error .properties .description {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}

@media screen and (max-width: 600px) {

  #clan.error {
    padding: 3rem 2rem 2rem;
    grid-template-columns: 40px minmax(auto, 800px);
  }

  #clan.error .properties .name {
    font-size: 24px;
  }
  
  #clan.error .properties .description {
    font-size: 14px;
  }  

}