.index-search {
  margin: 20px 0 calc(1rem + 24px);
}

.index-search.has-results {
  margin: 20px 0 calc(2rem + 24px);
}

.index-search .list.record-items {
  grid-template-columns: 1fr;
}

.index-search .list.collection-items {
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1400px) {
  .index-search .list.collection-items {
    grid-template-columns: 1fr;
  }
}