.scene {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;  
  display: grid;
  justify-content: center;
  align-content: center;
}

.scene .render {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.scene .spinner {
  z-index: 20;
  pointer-events: none;
}