.profile-search {
  position: relative;
}

.profile-search .sub-header {
  margin-bottom: 20px;
}

.profile-search .sub-header ~ .sub-header {
  margin: 3rem 0 1rem;
}

.profile-search .form {
  margin: 0 0 1rem;
}

.profile-search .form .field input {
  transition: color 0.25s, background-color 0.25s, box-shadow 0.25s;
}

.profile-search .form .field:hover input {
  z-index: 2;
}

.profile-search .results {
  margin: 1rem 0 0;
}

.profile-search .results .list li {
  padding: 0 1rem 0 0;
  cursor: pointer;
}

.profile-search .results .list li.linked:hover {
  z-index: 3;
}

.profile-search .results .list li.linked span {
  width: 38px;
  height: 38px;
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 0 1rem 0 0;
  font-size: 18px;
  color: #fff;
}

.profile-search .results .list li.linked span.destiny-platform_xbox {
  background-color: #4CAF50;
}

.profile-search .results .list li.linked span.destiny-platform_playstation {
  background-color: #3F51B5;
}

.profile-search .results .list li.linked span.destiny-platform_steam {
  background-color: #165b83;
}

.profile-search .results .list li.linked span.destiny-platform_battlenet {
  background-color: #009ae4;
}

.profile-search .results .list li.linked span.destiny-platform_stadia {
  background-color: #da2b48;
}