#loading {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  max-width: unset;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  text-align: center;
  z-index: 2;
  background-color: #888888;
  pointer-events: none;
}

.wrapper.dark-mode #loading {
  background-color: #141414;
}

#loading .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #251542;
  padding: 60px;
  display: grid;
  overflow: hidden;
}

#loading .bg .containment {
  width: 100%;
  max-width: 839px;
  align-self: center;
  justify-self: center;
}

#loading .bg .containment svg {
  fill: #502d8f;
  opacity: 0.1;
  transform: scale(2);
}

#loading .text {
  position: absolute;
  bottom: 7rem;
  left: 0;
  width: 100%;
  font-family: 'Neue Haas Grotesk Text', 'Neue Haas Grotesk Display', 'Destiny Symbols', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'NotoColorEmoji', 'Segoe UI Symbol', 'Android Emoji', 'EmojiSymbols';
  display: grid;
  grid-gap: 2rem;
  justify-content: center;
}

#loading .text .version {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}

#loading .text .status {
  font-size: 12px;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  display: grid;
  grid-template-columns: min-content max-content;
  grid-gap: 1rem;
  align-items: center;
  width: max-content;
}

#loading .text .status.error {
  grid-template-columns: 1fr;
  width: auto;
}

#loading .logo-feature {
  position: relative;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

#loading .logo-feature .device {
  position: relative;
  width: 96px;
  pointer-events: none;
}

#loading .logo-feature .device svg {
  fill: #502d8f;
  opacity: 0.8;
  width: 100%;
  height: auto;
}

@keyframes loading-beacon {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

#loading .logo-feature .device::before,
#loading .logo-feature .device::after {
  content: ' ';
  position: absolute;
  top: -70px;
  left: -70px;
  width: 236px;
  height: 236px;
  border-radius: 100%;
  opacity: 0;
  box-shadow: inset 0 0 0 1px #502d8f;
  animation: loading-beacon 2s cubic-bezier(0.65, 0.05, 0.36, 1) 0.75s infinite;
}

#loading .logo-feature .device::after {
  box-shadow: inset 0 0 0 1px #502d8f;
  animation: loading-beacon 2s cubic-bezier(0.65, 0.05, 0.36, 1) 0s infinite;
}

@media screen and (orientation: portrait) {
  
}

@media screen and (max-width: 600px) {
  #loading .logo-feature .device {
    width: 48px;
    font-size: 48px;
    line-height: 42px;
  }

  #loading .logo-feature .device::before,
  #loading .logo-feature .device::after {
    width: 136px;
    height: 136px;
    top: -45px;
    left: -45px;
  }
}
